<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <activity
      android:name="dev.staticvar.vlr.sharedui.component.common.SharedNetworkLogoTestActivity"
      android:exported="true"
      android:theme="@android:style/Theme.Material.Light.NoActionBar.Fullscreen" />
  </application>
</manifest>
