<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".VlrApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VLR">

        <meta-data android:name="io.sentry.auto-init" android:value="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.calendar"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/calendar_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:relinquishTaskIdentity="true"
            android:theme="@style/Theme.VLR.Starting">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="home"
                    android:scheme="vlr" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="match"
                    android:pathPrefix="/"
                    android:scheme="vlr" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="dev.staticvar.vlr.android.MainActivityDefault"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:targetActivity=".MainActivity">
            <meta-data android:name="dev.staticvar.vlr.SPLASH_THEME" android:resource="@style/Theme.VLR.Starting.Default" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="dev.staticvar.vlr.android.MainActivityAmethyst"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_amethyst"
            android:roundIcon="@mipmap/ic_launcher_amethyst_round"
            android:targetActivity=".MainActivity">
            <meta-data android:name="dev.staticvar.vlr.SPLASH_THEME" android:resource="@style/Theme.VLR.Starting.Amethyst" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="dev.staticvar.vlr.android.MainActivityTicket"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_ticket"
            android:roundIcon="@mipmap/ic_launcher_ticket_round"
            android:targetActivity=".MainActivity">
            <meta-data android:name="dev.staticvar.vlr.SPLASH_THEME" android:resource="@style/Theme.VLR.Starting.Ticket" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="dev.staticvar.vlr.android.MainActivityArcade"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_arcade"
            android:roundIcon="@mipmap/ic_launcher_arcade_round"
            android:targetActivity=".MainActivity">
            <meta-data android:name="dev.staticvar.vlr.SPLASH_THEME" android:resource="@style/Theme.VLR.Starting.Arcade" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="dev.staticvar.vlr.android.MainActivityMidnight"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_midnight"
            android:roundIcon="@mipmap/ic_launcher_midnight_round"
            android:targetActivity=".MainActivity">
            <meta-data android:name="dev.staticvar.vlr.SPLASH_THEME" android:resource="@style/Theme.VLR.Starting.Midnight" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="dev.staticvar.vlr.android.MainActivityMint"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_mint"
            android:roundIcon="@mipmap/ic_launcher_mint_round"
            android:targetActivity=".MainActivity">
            <meta-data android:name="dev.staticvar.vlr.SPLASH_THEME" android:resource="@style/Theme.VLR.Starting.Mint" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <receiver
            android:name="dev.staticvar.vlr.widget.ScoreWidgetReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="@string/legacy_matches_widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_provider" />
        </receiver>
        <receiver
            android:name="dev.staticvar.vlr.android.widget.WidgetUpgradeReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".widget.UpcomingFavoritesWidgetReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="@string/upcoming_favorites_widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/upcoming_favorites_widget_info" />
        </receiver>
        <receiver
            android:name=".widget.SmallUpcomingFavoritesWidgetReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="@string/small_upcoming_favorites_widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/small_upcoming_favorites_widget_info" />
        </receiver>
    </application>

</manifest>
